@import "mixins";

html {
  scroll-behavior: smooth;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #c4c0c0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  gap: 90px;
  background-image: url(/img/main/start-screen-background.jpg);
  background: radial-gradient(at top left, #5b483a, #262425);

  nav {
    display: flex;
    flex-direction: row;
    padding: 30px 40px 0;
    justify-content: center;
    gap: 549px;
    align-items: center;
    height: fit-content;

    .logo {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p:nth-child(1) {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
      }

      p:nth-child(2) {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #fff;
      }
    }

    .nav-items ul {
      display: flex;
      flex-direction: row;
      gap: 35px;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #c4c0c0;
        letter-spacing: 0.01em;
        transition-property: all;
        transition: all ease 0.07s;
      }

      li.active-link {
        padding-bottom: 1px;
        border-bottom: 3px solid #f1cdb3;
        color: #ffffff;
      }

      li:active {
        padding-bottom: 1px;
        border-bottom: 3px solid #f1cdb3;
        color: #ffffff;
      }

      li:hover,
      a:hover {
        cursor: pointer;
        color: #ffffff;
      }
    }
  }

  .start-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding: 0 40px;

    .start-info {
      display: flex;
      flex-direction: column;
      width: 400px;
      gap: 42px;
      align-content: center;

      h1 {
        @include h1_font;
      }

      p {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #cdcdcd;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        padding: 15px 45px;
        gap: 10px;
        background: #f1cdb3;
        border: none;
        border-radius: 100px;
        @include inside_button_font;
        transition-property: all;
        transition: all ease 0.2s;
      }

      a:hover {
        cursor: pointer;
        background-color: #fddcc4;
        transition-delay: 0s, 0.8s;
        transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
      }
    }
  }
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 80px 40px 100px 40px;

  .about-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 420px;

    h2 {
      @include h2_font;
    }

    p {
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #4c4c4c;
    }
  }
}

.friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px 100px 40px;
  background-color: #f6f6f6;
  gap: 60px;

  h2 {
    @include h2_font;
    width: 400px;
    text-align: center;
  }

  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    .cards-of-friends {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 90px;

      .pet-card-preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: #fafafa;
        border-radius: 9px;

        h3 {
          @include h3_font;
        }

        button {
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px 45px;
          gap: 10px;
          border: 2px solid #f1cdb3;
          border-radius: 100px;
          background-color: #fafafa;
          @include inside_button_font;
          transition-property: all;
          transition: all ease 0.5s;
        }

        &:hover {
          cursor: pointer;
          button {
            cursor: pointer;
            background: #fddcc4;
            border: 2px solid #fddcc4;
            transition-delay: 0s, 0.2s;
            transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
          }
        }
      }

      .slider-controls {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .next img {
          transform: rotate(180deg);
        }

        .prev,
        .next {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          padding: 21px 23px;
          border: 2px solid #f1cdb3;
          border-radius: 100px;
          margin: 0 40px;
          transition-property: all;
          transition: all ease 0.2s;

          &:hover {
            cursor: pointer;
            background-color: #fddcc4;
            border-color: #fddcc4;
            transition-delay: 0s, 0.5s;
            transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
          }
        }
      }
    }

    #the-rest {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 45px;
      gap: 10px;
      background: #f1cdb3;
      border-radius: 100px;
      border: 2px solid #f1cdb3;
      transition-property: all;
      transition: all ease 0.2s;
      @include inside_button_font;

      &:hover {
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #f1cdb3;
        transition-delay: 0s, 0.5s;
        transition-timing-function: ease-out(0.1, 0.8, 0.5, 2), linear;
      }
    }
  }
}

.help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px 40px 100px 40px;

  h2 {
    @include h2_font;
    width: 310px;
    text-align: center;
  }

  .help-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      p {
        @include h3_font;
      }
    }
  }
}

.in_additional {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 40px 100px 40px;
  background-color: #f6f6f6;

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 315px;

    h2 {
      @include h2_font;
    }

    p {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 110%;
      display: flex;
      align-items: center;
      letter-spacing: 0.06em;
      color: #545454;
    }

    .card {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 15px;
      gap: 15px;
      background: #f1cdb3;
      border-radius: 9px;
      width: fit-content;
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      display: flex;
      align-items: center;
      letter-spacing: 0.06em;
    }

    #donation-description {
      font-family: "Arial";
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #b2b2b2;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 140px;
  padding: 40px 40px 0 40px;
  background-image: url(/img/main/start-screen-background.jpg);
  background: radial-gradient(at top left, #513d2f, #1a1a1c);

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    h3 {
      font-family: "Georgia";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #fff;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      p {
        @include h3_font;
        color: #f1cdb3;
        text-align: left;
      }
    }
  }
}
